body {
  background-color: #CBD5E1;
  margin: 0;
  padding: 0;
}

.SignIN {
  background-color: #CBD5E1;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
  /* or any value you prefer */
  width: 100%;
  margin: 0 auto;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
}

h3 {
  text-align: center;
  font-size: 36px;
  margin: 0px;
  color: #1E293B;
}

p {
  text-align: center;
  font-size: 16px;
  margin: 0px;
  color: #475569;
}

form {
  margin-top: 50px;
}

.inputwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
  padding-left: 10px;
  gap: 0.5rem;
  margin-bottom: 20px;
}

.inputwrapper input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0.5rem;
  outline: none;
  border: none;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.SignInBTN {
  text-decoration: none;
}

.BTN1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: stretch;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #4F46E5;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.BTN1:hover {
  background-color: white;
  color: #4F46E5;
  cursor: pointer;
}

.signuptext {
  color: #1E293B;
  padding-top: 20px;
  gap: 2px;
}

.signuptext span {
  color: #4F46E5;
  cursor: pointer;
}

.hrwithtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 10px;
  margin: 24px 0;
}

.hrwithtext hr {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  border-top: 1px solid black;
}

.hrwithtext span {
  color: #888;
  font-weight: 500;
  padding: 0 12px;
  white-space: nowrap;
}

.socialmedia {
  display: -ms-grid;
  display: grid;
  gap: 10px;
}

.socialmedia button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: stretch;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 30px;
  background-color: white;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  gap: 10px;
}

.socialmedia button:hover {
  background-color: #4F46E5;
  color: white;
  cursor: pointer;
}

.footer hr {
  margin-top: 20px;
}

.footercontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 0px 20px 0px 20px;
}

.footercontent p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footerlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footerlinks p {
  color: #4F46E5;
}

.footerlinks p:hover {
  color: white;
  cursor: pointer;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 5px;
}

@media screen and (max-width: 600px) {
  .SignIN {
    width: 90%;
  }
  .footercontent {
    margin: 0px auto;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row-align: center;
        align-self: center;
  }
}
/*# sourceMappingURL=SignIN.css.map */