body {
    background-color: #CBD5E1;
    margin: 0;
    padding: 0;
}



.SignUp {
    background-color: #CBD5E1;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    /* or any value you prefer */
    width: 100%;
    margin: 0 auto;

    h3 {
        font-family: 'Roboto', sans-serif;
        font-size: 49px;
    }


    .password-strength-bar.weak {
        border-bottom-color: #f87171; // red
    }

    .password-strength-bar.medium {
        border-bottom-color: #fbbf24; // yellow
    }

    .password-strength-bar.strong {
        border-bottom-color: #16a34a; // green
    }

    .password-strength {
        color: #16a34a;
        display: flex; // green for strong
        font-size: 0.95rem;
        margin-top: 4px;
        font-weight: 500;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .password-strength-dashes {
        display: flex;
        gap: 12px;

        margin-top: 8px;
        justify-content: flex-start;

        span {
            display: block;
            width: 90px;
            height: 6px;
            border-radius: 4px;
            background: #e5e7eb; // default gray
            transition: background 0.3s;
        }

        .weak {
            background: #f87171; // red
        }

        .medium {
            background: #fbbf24; // yellow
        }

        .strong {
            background: #16a34a; // green
        }
    }



}
@media (max-width: 763px) {
  .SignUp {
    width: 90%;
    h3 {
      font-size: 40px;
    }
  }
}

@media (max-width: 600px) {
    .SignUp {
        width: 90%;

        h3{
            font-size: 20px;
        }
    }

    // .SignUp h3 {
    //     font-size: 6px;
    // }

    .footercontent {
        margin: 0px auto;
        display: grid;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
}